# User-specific stuff:
.idea
.local

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
deck_chores.egg-info/
dist/
pip-wheel-metadata/

# Unit test / coverage reports
htmlcov/
.coverage
.cache/
.mypy_cache/
.pytest_cache/
tests/

# Sphinx documentation
docs/_build/

# git / GitHub
.git/
.gitignore
.github/

# Other
/hooks/
Makefile
.readthedocs.yml
.travis.yml
