name: Maintenance release (update dependencies and create releases)
on:
  schedule:
    - cron: "44 4 26 * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        run: pipx install poetry
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: poetry
      - shell: bash
        run: poetry update --lock
      - id: commit-and-push
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: Updates dependencies
      - if: ${{ steps.commit-and-push.outputs.changes_detected == false }}
        run: gh run cancel ${{ github.run_id }} && tail -f /dev/null
        env:
          GITHUB_TOKEN: ${{ github.token }}

  run-tests:
    needs: [update]
    uses: funkyfuture/deck-chores/.github/workflows/quality-checks.yml@main
    with:
      ref: main

  bump-version:
    needs: [run-tests]
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        run: pipx install poetry
      - uses: actions/checkout@v4
        with:
          ref: main
      - id: bump
        shell: bash
        run: | 
          pipx run poetry version patch
          echo "version=$(poetry version --short)" >> $GITHUB_OUTPUT
      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: >
            Bumps version to ${{ steps.bump.outputs.version }} (maintenance release)
          tagging_message: ${{ steps.bump.outputs.version }}

  build-and-publish:
    needs: [bump-version]
    uses: funkyfuture/deck-chores/.github/workflows/build-and-publish.yml@main
    with:
      ref: main
    secrets: inherit
