---

name: quality-checks

on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:
      inputs:
        ref:
          required: false
          type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.sha }}
  cancel-in-progress: true

jobs:
  python-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - target: lint
          - target: mypy
          - target: pytest
          - target: doclinks
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.sha }}
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - run: python -m pip install --upgrade pip setuptools wheel
      - uses: abatilo/actions-poetry@v3.0.0
      - run: poetry install -v
      - run: poetry run make ${{ matrix.target }}

  image-build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.sha }}
      - uses: redhat-actions/buildah-build@v2
        with:
          containerfiles: |
            ./Dockerfile
          image: ${{ github.repository }}
          tags: test-build-${{ github.sha }}

...
